#nav-square{

    

    .container{
        padding-top: 78px;
    }
    ul{
        list-style-type: none;
        text-transform: uppercase;
        display: flex;
             
    }
    li{
        padding: 15px;
       
    }
  
    i{
       color: $copyright;
    }
    .activated{
        color: $text-color;
    }
    .active{
        color: $copyright;
    }
}
