@font-face {
    font-family: Playfair;
    src: url(font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
      }
@font-face {
    font-family: WorkSans;
    src: url(font/Work_Sans/WorkSans-VariableFont_wght.ttf) format("truetype");
}


$regular-font: WorkSans;
$title-font: Playfair;

$icon-color:#999999;
$text-color: #1d1d1d;
$copyright: #5f5f5f;
$white-text: #fff;
$p-text-color:#999999;
$link-color:$copyright;

$main-font-size: 14px;
$title-font-size: 24px;


